<h1>Bonjour !</h1>

<div class="play-container">
  <p>Vous avez cliqué <span (click)="countClick()">ici</span> {{ clickCounter }} fois.</p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="nom"><br>
    <strong>Vous avez écrit : </strong> {{ nom }}
  </p>
</div>

<!-- <div class="play-container" [class.active]="clickCounter > 4"> -->
<div class="play-container" [ngClass]="setClasses()">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="zero">
    <p>Le nombre au compteur est <strong>plus grand</strong> que 4.</p>
  </ng-template>

  <ng-template #zero>
    <p>Le nombre au compteur est <strong>plus petit ou égal</strong> à 4.</p>
  </ng-template>
</div>